@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F5F5F5;
}

header {
  height: 100px;
}

.container__header {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul {
  display: flex;
  gap: 20px;
}

.menu nav ul li {
  list-style: none;
}

.menu nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 300ms;
}

.menu nav ul li a:hover {
  opacity: 0.6;
}

.btn__header-register,
.btn__register-cover {
  padding: 14px 50px;
  border: none;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background, color 300ms;
}

.btn__header-register:hover,
.btn__register-cover:hover {
  background: #69F1A1;
  color: #000;
}

#icon_menu {
  display: none;
}

/* --- MAIN COVER --- */
main {
  max-width: 1200px;
  padding: 40px 20px;
  margin: auto;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  gap: 40px;
}

.text__information-cover {
  width: 50%;
}

.text__information-cover h1 {
  font-size: 50px;
}

.text__information-cover p {
  font-size: 18px;
  margin-top: 40px;
}

.buttons__cover {
  display: flex;
  margin-top: 40px;
  gap: 10px;
  flex-wrap: wrap;
}

.btn__readMore-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background 300ms;
}

.btn__readMore-cover:hover {
  background: #E8E8E8;
}

.media__cover {
  width: 50%;
}

.media__cover video {
  width: 100%;
  margin-top: -40px;
}

/* --- BANNER --- */

.container__banner {
  margin-top: 80px;
}

.banner {
  display: flex;
  align-items: center;
  background: #121214;
  position: relative;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.banner__icon-heart {
  flex: 1;
  display: flex;
  justify-content: center;
}

#icon_heart {
  width: 250px;
  filter: drop-shadow(-20px 0px 20px rgba(0, 0, 0, 0.5));
}

.banner__text {
  flex: 2;
  color: #fff;
}

.banner__text h2 {
  font-size: 28px;
  font-weight: 400;
}

.banner__text a {
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms;
}

.banner__text a:hover {
  color: #69F1A1;
}

.banner__icon-fire {
  display: flex;
  justify-content: center;
  flex: 1;
}

#icon_fire {
  width: 200px;
  opacity: 0.6;
}

/* ----------------------------- */
/* RESPONSIVE */
/* ----------------------------- */

@media (max-width: 1024px) {
  .container__header {
    padding: 20px;
  }

  #icon_menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .header__register {
    display: none;
  }

  .menu {
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
  }

  .menu nav ul {
    flex-direction: column;
    background: #fff;
    padding: 20px 0;
  }

  .menu nav ul li {
    padding: 10px 40px;
  }

  .mostrar_menu {
    height: 235px;
  }

  .text__information-cover h1 {
    font-size: 40px;
  }

  .text__information-cover p {
    font-size: 16px;
  }

  .banner__text h2 {
    font-size: 22px;
  }
}

@media (max-width: 920px) {
  .cover {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .text__information-cover {
    width: 100%;
    max-width: 500px;
  }

  .media__cover {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .media__cover video {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}